@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yellowtail&display=swap");
@import url("fontawesome-all.min.css");
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 5;}

body{
    background-color: #c7efff;
    margin: 0;
}
.boardingpass {
    background-color: rgb(214, 211, 166);
    font-weight: 700;
}
.startingButton{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(60, 255, 21); 
    display: table;
    padding: 7px 25px;
    margin: 15px 16%;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 2px 3px 3px 2px #000000;
}
.startingButton:hover{
    background-color: rgb(28, 85, 17); 
}
.secret{
    color: rgb(32, 32, 24);
}
h2{
    font-size: 20px;
}
h3{
    margin-top: 15px;
}
.headingbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);  }
    .headingbar h1 {
      font-family: 'Roboto', Courier, monospace;
      margin: 0px 5%;
      background: -webkit-linear-gradient(#5cb8dd, #0044ff);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 
    .headingbar h2 {
        font-family: 'Roboto', Courier, monospace;
        margin: 0px 5%;
        color: #008099; 
        padding-bottom: 5px;}
.container{
    margin: 0px 5%;
    padding-bottom: 122px;
    }

footer {
    background: linear-gradient(#0c3444, #242e49);        
    color: #fff;
     }
    footer ul{
            list-style: none;
    }
    footer a {
          color: #005d81;
          font-family: 'Roboto', Courier, monospace;
          font-size: 1.1em;
          font-weight: bolder;
        }      